### 测试结果

共测试了 {{ruyi_testsuites}} 个测试套，其中

+ {{ruyi_success}} 个测试套成功
+ {{ruyi_failed}} 个测试套失败

